.layout {
  color: black;
  margin-top: 10rem;
}

.text1 h2 {
  color: black;
  margin-bottom: 1.5rem;
}

p {
  color: #3a3939;
}

.section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
  gap: 10rem;
  align-items: center;
}

.text1 {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.image1 {
  width: 30rem;
}

.p1 {
  line-height: 1.5;
  font-size: 1.05rem;
  word-wrap: break-word;
  text-align: justify;
  padding-right: 5rem;
}
