.layout {
  color: black;
  margin-top: 10rem;
}

.section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
  gap: 10rem;
}

.text1 {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.text1 h2 {
  margin-bottom: 2rem;
}

.text1 h4 {
  margin-top: 2rem;
}
